# Типы JOIN с помощью Pandas `pd.merge()`

In [2]:
import pandas as pd

In [3]:
# Создание первого DataFrame
data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
}

df1 = pd.DataFrame(data1)

# Создание второго DataFrame
data2 = {
    'ID': [1, 2, 3, 4, 5],
    'Salary': [70000, 80000, 90000, 100000, 120000],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Call Center']
}

df2 = pd.DataFrame(data2)

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40

DataFrame 2:
   ID  Salary   Department
0   1   70000           HR
1   2   80000           IT
2   3   90000      Finance
3   4  100000    Marketing
4   5  120000  Call Center

## Inner Join

In [4]:
inner_join = pd.merge(df1, df2, on='ID', how='inner')
print(inner_join)

Inner Join:
   ID     Name  Age  Salary Department
0   1    Alice   25   70000         HR
1   2      Bob   30   80000         IT
2   3  Charlie   35   90000    Finance
3   4    David   40  100000  Marketing

## Outer Join

In [5]:
outer_join = pd.merge(df1, df2, on='ID', how='outer')
print(outer_join)

Outer Join:
   ID     Name   Age  Salary   Department
0   1    Alice  25.0   70000           HR
1   2      Bob  30.0   80000           IT
2   3  Charlie  35.0   90000      Finance
3   4    David  40.0  100000    Marketing
4   5      NaN   NaN  120000  Call Center

## Left Join

In [6]:
left_join = pd.merge(df1, df2, on='ID', how='left')
print(left_join)

Left Join:
   ID     Name  Age  Salary Department
0   1    Alice   25   70000         HR
1   2      Bob   30   80000         IT
2   3  Charlie   35   90000    Finance
3   4    David   40  100000  Marketing

## Right Join

In [7]:
right_join = pd.merge(df1, df2, on='ID', how='right')
print(right_join)

Right Join:
   ID     Name   Age  Salary   Department
0   1    Alice  25.0   70000           HR
1   2      Bob  30.0   80000           IT
2   3  Charlie  35.0   90000      Finance
3   4    David  40.0  100000    Marketing
4   5      NaN   NaN  120000  Call Center